h1{
  color:white;
  font-size:40px
}

html{
  height: 100%;
  background-image: linear-gradient(to bottom right, purple, orange);
}

* {
  font-family: "Veranda", sans-serif;
}

.container h1{
  padding-bottom: 20px;
  border-bottom: 3px solid black;
  width:95%;
}

.clr{
  clear: both;
}

.container{
    width:95%;
    margin:auto;
    font-size: 24px;
    font-weight: bold;
    padding-top: 120px;
    padding-bottom: 250px;
  }

.reg-form{
  padding-top: 50px;
   padding-left: 240px;
  }

.reg-form input[type="submit"]{
  background-color:white;
  font-size: 24px;
  font-weight:bolder;
  border:black;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  left: 47%;
}

.reg-form .form-group{
  padding-bottom:40px;
}

.reg-form label{
  display:block;
}

.reg-form input[type="text"]{
  padding: 8px;
  width:80%;
}

.reg-form .sub-address{
  padding-bottom:50px;
}

.reg-form .sub-address label{
  font-size: 18px;
  font-weight: bold;
}

.reg-form .sub-address{
  float: left;
  width: 44.5%;
}