html { 
  background: linear-gradient(purple, orange) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
  height: 100%;
}

* {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color : white;
}

.container h1{
  padding-bottom: 20px;
  border-bottom: 3px solid black;
  width:95%;
}

.clr{
  clear: both;
}

.container{
    width:95%;
    margin:auto;
    font-size: 24px;
    font-weight: bold;
    padding-top: 120px;
    padding-bottom: 250px;
  }

.reg-form{
  padding-top: 50px;
   padding-left: 240px;
  }

.reg-form input[type="submit"]{
  background-color:white;
  font-size: 24px;
  font-weight:bolder;
  border:black;
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  left: 47%;
  color: black;
}

.reg-form .form-group{
  padding-bottom:40px;
}

.reg-form label{
  display:block;
}

.reg-form input[type="text"]{
  padding: 8px;
  width:80%;
}

.reg-form .sub-address{
  padding-bottom:50px;
}

.reg-form .sub-address label{
  font-size: 18px;
  font-weight: bold;
}

.reg-form .sub-address{
  float: left;
  width: 44.5%;
}
body.nav{
  margin: 0;
}

.topnav{
background-color: #111111;
overflow: hidden;
}

.topnav a{
  color: white;
  text-align: center;
  font-size: 24px;
  text-decoration: none;
  padding: 10px;
  float: left;
}

.topnav a:hover{
  background-color: white;
  color: black;
}

.topnav a.active{
  background-color: white;
  color: black;
}